[Unit]
Description=Rotate nginx TLS session ticket keys
After=nginx.service nginx-create-session-ticket-keys.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/nginx-rotate-session-ticket-keys
ExecStartPost=systemctl reload nginx.service

PrivateDevices=true
PrivateIPC=true
PrivateNetwork=true
PrivateTmp=true
PrivateUsers=true

# limit privs
CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

# required to run systemctl in ExecStartPost
RestrictAddressFamilies=AF_UNIX

IPAddressDeny=any

DevicePolicy=strict
DeviceAllow=/dev/urandom r
DeviceAllow=/dev/null w
DeviceAllow=/dev/stdin r

ProtectClock=true
ProtectControlGroups=true
ProtectHome=yes
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProcSubset=pid

# filesystem restrictions
ProtectSystem=strict
ReadWritePaths=/etc/nginx/session-ticket-keys
UMask=0077

SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@clock @debug @module @mount @reboot @swap @resources @cpu-emulation @obsolete @raw-io @obsolete @keyring @privileged
